branches:
  only:
    - master
sudo: required
services:
  - docker
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
matrix:
  allow_failures:
    - python: "2.7"
notifications:
  email: false
install:
  - pip install pylint psycopg2 requests tornado apispec python-dateutil jsonschema schema pytest pytest-cov codecov iso8601 pytz
script:
  - /bin/bash run_tests.sh reposcan
  - /bin/bash run_tests.sh webapp
  - /bin/bash run_tests.sh websocket
