version: '3'

services:
  vmaas_database:
    container_name: vmaas-database
    build:
        context: .
        dockerfile: ./database/Dockerfile
    image: vmaas/database:latest
    restart: unless-stopped
    env_file:
      - ./conf/database-connection-admin.env
    ports:
      - 5432:5432
    volumes:
      - vmaas-db-data:/var/lib/pgsql/data

  vmaas_websocket:
    container_name: vmaas-websocket
    build:
        context: .
        dockerfile: ./websocket/Dockerfile
    image: vmaas/websocket:latest
    restart: unless-stopped
    ports:
      - 8082:8082

  vmaas_reposcan:
    container_name: vmaas-reposcan
    build:
        context: .
        dockerfile: ./reposcan/Dockerfile
    image: vmaas/reposcan:latest
    restart: unless-stopped
    env_file:
      - ./conf/database-connection-writer.env
      - ./conf/reposcan.env
    ports:
      - 8081:8081
      - 8730:8730
    volumes:
      - vmaas-reposcan-tmp:/tmp
      - vmaas-dump-data:/data:z
    depends_on:
      - vmaas_websocket
      - vmaas_database

  vmaas_webapp:
    container_name: vmaas-webapp
    build:
        context: .
        dockerfile: ./webapp/Dockerfile
    image: vmaas/webapp:latest
    restart: unless-stopped
    env_file:
      - ./conf/webapp.env
    ports:
      - 8080:8080
    depends_on:
      - vmaas_websocket
      - vmaas_reposcan

  vmaas_apidoc:
    container_name: vmaas-apidoc
    build:
        context: .
        dockerfile: ./Dockerfile-apidoc
    image: vmaas/apidoc:latest
    restart: unless-stopped
    env_file:
      - ./conf/apidoc.env
    ports:
      - 8000:8080
    depends_on:
      - vmaas_reposcan
      - vmaas_webapp
      - vmaas_webapp_utils
    
  vmaas_webapp_utils:
    container_name: vmaas-webapp-utils
    build:
        context: .
        dockerfile: ./webapp-utils/Dockerfile
    image: vmaas/webapp-utils:latest
    restart: unless-stopped
    ports:
      - 8083:8083
    depends_on:
      - vmaas_webapp


  vmaas_prometheus:
    container_name: vmaas-prometheus
    image: prom/prometheus:v2.1.0
    volumes:
      - prometheus-data:/prometheus
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    security_opt:
      - label=disable
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - 9090:9090
    depends_on:
      - vmaas_reposcan
      - vmaas_webapp
    restart: always

  vmaas_grafana:
    container_name: vmaas-grafana
    image: grafana/grafana:6.2.5
    volumes:
      - grafana-data:/var/lib/grafana
      - ./monitoring/grafana/provisioning/:/etc/grafana/provisioning/
    depends_on:
      - vmaas_prometheus
    ports:
      - 3000:3000
    env_file:
      - ./monitoring/grafana/grafana.conf
    user: "104"
    restart: always

volumes:
  vmaas-db-data:
  vmaas-dump-data:
  vmaas-reposcan-tmp:
  prometheus-data:
  grafana-data:
