services:
  vmaas_database:
    container_name: vmaas-database
    image: docker.io/library/postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: vmaas
      POSTGRES_USER: vmaas_admin
      POSTGRES_PASSWORD: vmaas_admin_pwd
    ports:
      - 5432:5432

  test:
    container_name: vmaas-test
    hostname: vmaas-test
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VAR_RPMS: "findutils"
        VAR_POETRY_INSTALL_OPT: "--with dev"
        REQUIRE_RHEL: "no"
    image: vmaas/test:latest
    environment:
      CI: "${CI:-false}"
      GITHUB_ACTIONS: "${GITHUB_ACTIONS:-false}"
      GITHUB_REF: "${GITHUB_REF:-}"
      GITHUB_HEAD_REF: "${GITHUB_HEAD_REF:-}"
      GITHUB_SHA: "${GITHUB_SHA:-}"
      GITHUB_REPOSITORY: "${GITHUB_REPOSITORY:-}"
      GITHUB_RUN_ID: "${GITHUB_RUN_ID:-}"
    env_file:
      - ./conf/common.env
      - ./conf/test.env
    depends_on:
      - vmaas_database
    volumes:
      - ./:/vmaas
    user: root
    security_opt:
      - label=disable
    command: >
      bash -c 'cd /vmaas && ./scripts/check_deps_versions.sh \
                         && python3.12 ./scripts/validate_dashboards.py ./monitoring/grafana/dashboards/ \
                         && python3.12 -m vmaas.common.wait_for_services python3.12 -m vmaas.reposcan.database.upgrade \
                         && ./run_tests.sh vmaas/common \
                         && ./run_tests.sh vmaas/reposcan \
                         && ./run_tests.sh vmaas/webapp'

  test_go:
    container_name: vmaas-test-go
    hostname: vmaas-test-go
    build:
      context: .
      dockerfile: Dockerfile
      args:
        REQUIRE_RHEL: "no"
      target: buildimg
    image: vmaas/test-go:latest
    environment:
      CI: "${CI:-false}"
      GITHUB_ACTIONS: "${GITHUB_ACTIONS:-false}"
      GITHUB_REF: "${GITHUB_REF:-}"
      GITHUB_HEAD_REF: "${GITHUB_HEAD_REF:-}"
      GITHUB_SHA: "${GITHUB_SHA:-}"
      GITHUB_REPOSITORY: "${GITHUB_REPOSITORY:-}"
      GITHUB_RUN_ID: "${GITHUB_RUN_ID:-}"
    env_file:
      - ./conf/common.env
      - ./conf/test.env
    depends_on:
      - vmaas_database
    volumes:
      - ./:/vmaas
    user: root
    security_opt:
      - label=disable
    command: >
      bash -c 'cd /vmaas && ./run_tests.sh vmaas-go'
