services:
  vmaas_database:
    volumes:
      - ./database:/git
    security_opt:
      - label=disable
    working_dir: /git
    hostname: vmaas-database

  vmaas_reposcan:
    volumes:
      - ./:/git
    security_opt:
      - label=disable
    working_dir: /git
    command: /vmaas/entrypoint.sh sleep
    hostname: vmaas-reposcan

  vmaas_webapp:
    volumes:
      - ./:/git
    security_opt:
      - label=disable
    working_dir: /git
    command: /vmaas/entrypoint.sh sleep
    hostname: vmaas-webapp

  # we don't need grafana and prometheus in developer setup
  # let's them exit immediatelly
  vmaas_grafana:
    entrypoint: 'true'
    restart: 'no'

  vmaas_prometheus:
    entrypoint: 'true'
    restart: 'no'
