---
- hosts: all
  vars:
    apidoc_container_port: 8080
    webapp_container_port: 8080
    reposcan_container_port: 8081
    apidoc_config_map: vmaas-apidoc-conf-apidoc-env
    dockerfile_suffix: ".rhel7"
  tasks:
    - name: Prevent run without tags
      fail:
        msg: "You must run this playbook with tags! Available tags: up, down, rebuild-images, configure-apidoc, upgrade-start, upgrade-finish, upgrade-cleanup, centos-containers."

    - name: Get current Git branch
      command: git rev-parse --abbrev-ref HEAD
      changed_when: False
      register: git_branch_name
      tags:
        - always

    - name: Prevent run without release version
      fail:
        msg: "You must run this playbook with app_id parameter! E.g. '-e app_id=2'"
      tags:
        - always
      when: app_id is not defined

    - name: Get current OpenShift project
      command: oc project -q
      changed_when: False
      register: oc_project_name
      tags:
        - always

    - name: Confirm source Git branch and target OpenShift project
      pause: prompt="Please confirm you want to deploy Git branch '{{ git_branch_name.stdout }}' into OpenShift project '{{ oc_project_name.stdout }}'. Type 'yes' or 'no'"
      register: oc_project_decision
      tags:
        - always

    - name: Cancel playbook execution
      fail:
        msg: "Playbook execution canceled."
      when: not (oc_project_decision.user_input | bool)
      tags:
        - always

    - name: Use CentOS containers
      set_fact:
        dockerfile_suffix: ""
      tags:
        - centos-containers

    - name: Create OpenShift routes
      shell: oc create route edge apidoc --service vmaas-apidoc --port {{ apidoc_container_port }}; oc create route edge reposcan --service vmaas-reposcan --port {{ reposcan_container_port }}; oc create route edge webapp --service vmaas-webapp --port {{ webapp_container_port }};
      tags:
        - up

    - name: Create OpenShift upgrade routes
      shell: oc create route edge apidoc-upgrade --service vmaas-apidoc-upgrade --port {{ apidoc_container_port }}; oc create route edge reposcan-upgrade --service vmaas-reposcan-upgrade --port {{ reposcan_container_port }}; oc create route edge webapp-upgrade --service vmaas-webapp-upgrade --port {{ webapp_container_port }}
      tags:
        - upgrade-start

    - name: Get exposed reposcan URL
      shell: oc get route reposcan | tail -n 1 | awk '{print $2}'
      register: reposcan_url
      tags:
        - up
        - configure-apidoc
        - upgrade-finish

    - name: Get exposed webapp URL
      shell: oc get route webapp | tail -n 1 | awk '{print $2}'
      register: webapp_url
      tags:
        - up
        - configure-apidoc
        - upgrade-finish

    - name: Get exposed reposcan temporary URL
      shell: oc get route reposcan-upgrade | tail -n 1 | awk '{print $2}'
      register: reposcan_url
      tags:
        - upgrade-start

    - name: Get exposed webapp temporary URL
      shell: oc get route webapp-upgrade | tail -n 1 | awk '{print $2}'
      register: webapp_url
      tags:
        - upgrade-start

    - name: Create VMaaS
      shell: find ./openshift/ -name '*.yml' | grep -v /openshift/svc/ | sort | xargs -n1 oc process --ignore-unknown-parameters=true -p RELEASE={{ app_id }} -p GIT_REF={{ git_branch_name.stdout }} -p WEBAPP_URL={{ webapp_url.stdout }} -p REPOSCAN_URL={{ reposcan_url.stdout }} DOCKERFILE_SUFFIX={{ dockerfile_suffix }} -f | oc apply -f -
      tags:
        - up
        - upgrade-start

    - name: Upgrade VMaaS services
      shell: find ./openshift/svc/ -name '*.yml' | sort | xargs -n1 oc process -p RELEASE={{ app_id }} -f | oc apply -f -
      tags:
        - up
        - upgrade-finish

    - name: Rebuild VMaaS images
      shell: oc start-build vmaas-apidoc-{{ app_id }}; oc start-build vmaas-database-{{ app_id }}; oc start-build vmaas-reposcan-{{ app_id }}; oc start-build vmaas-webapp-{{ app_id }}; oc start-build vmaas-websocket-{{ app_id }}
      tags:
        - rebuild-images

    - name: Delete upgrade routes
      shell: oc delete route apidoc-upgrade reposcan-upgrade webapp-upgrade
      tags:
        - upgrade-cleanup
      ignore_errors: True

    - name: Configure API documentation
      shell: oc rollout status dc/vmaas-apidoc-{{ app_id }} && oc patch configmap {{ apidoc_config_map }}-{{ app_id }} --patch '{"data":{"API_URLS":"[{\"url\":\"https://{{ webapp_url.stdout }}/api/v1/apispec\",\"name\":\"webapp\"},{\"url\":\"https://{{ reposcan_url.stdout }}/api/v1/apispec\",\"name\":\"reposcan\"}]"}}' && oc rollout latest dc/vmaas-apidoc-{{ app_id }}
      tags:
        - configure-apidoc
        - upgrade-finish

    - name: Delete OpenShift routes
      shell: oc get route | awk '{print $1}' | grep {{ item }} | xargs oc delete route
      with_items:
        - apidoc
        - reposcan
        - webapp
      tags:
        - down
      ignore_errors: True

    - name: Delete old Config Maps
      shell: oc get cm | awk '{print $1}' | grep {{ item }} | grep -v {{ app_id }} | xargs oc delete cm
      with_items:
        - vmaas-apidoc
        - vmaas-reposcan
        - vmaas-webapp
        - vmaas-database
      tags:
        - upgrade-cleanup
      ignore_errors: True

    - name: Delete old Services
      shell: oc delete service/{{ item }}
      with_items:
        - vmaas-apidoc-upgrade
        - vmaas-reposcan-upgrade
        - vmaas-webapp-upgrade
        - vmaas-websocket-upgrade
        - vmaas-database-upgrade
      tags:
        - up
        - upgrade-cleanup
      ignore_errors: True

    - name: Delete old Deployment Configs
      shell: oc get dc | awk '{print $1}' | grep {{ item }} | grep -v {{ app_id }} | xargs oc delete dc
      with_items:
        - vmaas-apidoc
        - vmaas-reposcan
        - vmaas-webapp
        - vmaas-websocket
        - vmaas-database
      tags:
        - upgrade-cleanup
      ignore_errors: True

    - name: Delete old Persistent Volume Claims
      shell: oc get pvc | awk '{print $1}' | grep {{ item }} | grep -v {{ app_id }} | xargs oc delete pvc
      with_items:
        - vmaas-db-data
        - vmaas-dump-data
        - vmaas-reposcan-tmp
      tags:
        - upgrade-cleanup
      ignore_errors: True

    - name: Delete old Image Streams
      shell: oc get is | awk '{print $1}' | grep {{ item }} | grep -v {{ app_id }} | xargs oc delete is
      with_items:
        - vmaas-apidoc
        - vmaas-reposcan
        - vmaas-webapp
        - vmaas-websocket
        - vmaas-database
      tags:
        - upgrade-cleanup
      ignore_errors: True

    - name: Delete old Build Configs
      shell: oc get bc | awk '{print $1}' | grep {{ item }} | grep -v {{ app_id }} | xargs oc delete bc
      with_items:
        - vmaas-apidoc
        - vmaas-reposcan
        - vmaas-webapp
        - vmaas-websocket
        - vmaas-database
      tags:
        - upgrade-cleanup
      ignore_errors: True

    - name: Delete all Config Maps
      shell: oc get cm | awk '{print $1}' | grep {{ item }} | xargs oc delete cm
      with_items:
        - vmaas-apidoc
        - vmaas-reposcan
        - vmaas-webapp
        - vmaas-database
      tags:
        - down
      ignore_errors: True

    - name: Delete all Services
      shell: oc get svc | awk '{print $1}' | grep {{ item }} | xargs oc delete svc
      with_items:
        - vmaas-apidoc
        - vmaas-reposcan
        - vmaas-webapp
        - vmaas-websocket
        - vmaas-database
      tags:
        - down
      ignore_errors: True

    - name: Delete all Deployment Configs
      shell: oc get dc | awk '{print $1}' | grep {{ item }} | xargs oc delete dc
      with_items:
        - vmaas-apidoc
        - vmaas-reposcan
        - vmaas-webapp
        - vmaas-websocket
        - vmaas-database
      tags:
        - down
      ignore_errors: True

    - name: Delete all Persistent Volume Claims
      shell: oc get pvc | awk '{print $1}' | grep {{ item }} | xargs oc delete pvc
      with_items:
        - vmaas-db-data
        - vmaas-dump-data
        - vmaas-reposcan-tmp
      tags:
        - down
      ignore_errors: True

    - name: Delete all Image Streams
      shell: oc get is | awk '{print $1}' | grep {{ item }} | xargs oc delete is
      with_items:
        - vmaas-apidoc
        - vmaas-reposcan
        - vmaas-webapp
        - vmaas-websocket
        - vmaas-database
      tags:
        - down
      ignore_errors: True

    - name: Delete all Build Configs
      shell: oc get bc | awk '{print $1}' | grep {{ item }} | xargs oc delete bc
      with_items:
        - vmaas-apidoc
        - vmaas-reposcan
        - vmaas-webapp
        - vmaas-websocket
        - vmaas-database
      tags:
        - down
      ignore_errors: True
