---
apiVersion: v1
kind: Template
metadata:
  name: vmaas
objects:
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: vmaas
  spec:
    envName: ${ENV_NAME}
    deployments:
    - name: websocket-service
      minReplicas: ${{REPLICAS_WEBSOCKET}}
      webServices:
        public:
          enabled: false
        private:
          enabled: true
        metrics: {}
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        command:
          - /vmaas/entrypoint.sh
          - websocket
        env:
        - name: CW_ENABLED
          value: ${{CW_ENABLED}}
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        resources:
          limits:
            cpu: ${CPU_LIMIT_WEBSOCKET}
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 100Mi

    - name: webapp-service
      minReplicas: ${{REPLICAS_WEBAPP}}
      webServices:
        public:
          enabled: true
        private:
          enabled: false
        metrics:
          enabled: true
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        command:
          - /vmaas/entrypoint.sh
          - webapp
        env:
        - name: LOGGING_LEVEL_APP
          value: ${LOGGING_LEVEL_APP}
        - name: LOGGING_LEVEL_LIBS
          value: ${WEBAPP_LOGGING_LEVEL_LIBS}
        - name: LOGGING_TYPE
          value: ${LOGGING_TYPE}
        - name: MAX_VMAAS_SERVERS
          value: ${MAX_VMAAS_SERVERS}
        - name: GZIP_RESPONSE_ENABLE
          value: ${GZIP_RESPONSE_ENABLE}
        - name: GZIP_COMPRESS_LEVEL
          value: ${GZIP_COMPRESS_LEVEL}
        - name: CW_ENABLED
          value: ${{CW_ENABLED}}
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        resources:
          limits:
            cpu: ${CPU_LIMIT_WEBAPP}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: 500m
            memory: ${MEMORY_LIMIT}
        readinessProbe: {}
        livenessProbe: {}

    - name: reposcan-service
      minReplicas: ${{REPLICAS_REPOSCAN}}
      webServices:
        public:
          enabled: true
        private:
          enabled: true
        metrics:
          enabled: true
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        initContainers:
          - command: 
            - sh
            - -c
            - >-
              cd vmaas/reposcan && exec python3 ../../wait_for_services.py python3 -m database.upgrade
            env:
            - name: DB_UPGRADE_SCRIPTS_DIR
              value: /vmaas/vmaas/reposcan/database/upgrade_scripts/
            - name: GIT_TOKEN
              valueFrom:
                secretKeyRef:
                  key: GIT_TOKEN
                  name: github-vmaas-bot
            - name: CLOWDER_ENABLED
              value: ${CLOWDER_ENABLED}
            - name: CW_ENABLED
              value: ${{CW_ENABLED}}
            - name: INIT_CONTAINER
              value: "true"
        command:
        - /vmaas/entrypoint.sh
        - reposcan
        resources:
          limits:
            cpu: ${CPU_LIMIT_REPOSCAN}
            memory: 2Gi
          requests:
            cpu: 200m
            memory: 1Gi
        volumes:
        - name: vmaas-reposcan-tmp
          emptyDir: {}
        - name: vmaas-dump-data
          persistentVolumeClaim:
            claimName: vmaas-dump-data
        volumeMounts:
        - mountPath: /tmp
          name: vmaas-reposcan-tmp
        - mountPath: /data
          name: vmaas-dump-data
        env:
        - name: BATCH_MAX_SIZE
          value: ${BATCH_MAX_SIZE}
        - name: BATCH_MAX_FILESIZE
          value: ${BATCH_MAX_FILESIZE}
        - name: CHUNK_SIZE
          value: ${CHUNK_SIZE}
        - name: LOGGING_LEVEL_APP
          value: ${LOGGING_LEVEL_APP}
        - name: LOGGING_LEVEL_LIBS
          value: ${REPOSCAN_LOGGING_LEVEL_LIBS}
        - name: LOGGING_TYPE
          value: ${LOGGING_TYPE}
        - name: PKGTREE_INDENT
          value: ${PKGTREE_INDENT}
        - name: PKGTREE_KEEP_COPIES
          value: ${PKGTREE_KEEP_COPIES}
        - name: REPOSCAN_SYNC_INTERVAL_MINUTES
          value: ${REPOSCAN_SYNC_INTERVAL_MINUTES}
        - name: RETRY_COUNT
          value: ${RETRY_COUNT}
        - name: THREADS
          value: ${THREADS}
        - name: YEAR_SINCE
          value: ${YEAR_SINCE}
        - name: KEEP_COPIES
          value: ${KEEP_COPIES}
        - name: REPOLIST_GIT
          value: ${REPOLIST_GIT}
        - name: REPOLIST_PATH
          value: ${REPOLIST_GIT_PATH}
        - name: REPOLIST_GIT_TOKEN
          valueFrom:
            secretKeyRef:
              key: GIT_TOKEN
              name: github-vmaas-bot
        - name: GIT_COMMITTER_NAME
          value: ${GIT_COMMITTER_NAME}
        - name: GIT_COMMITTER_EMAIL
          value: ${GIT_COMMITTER_EMAIL}
        - name: DEFAULT_CA_CERT
          valueFrom:
            secretKeyRef:
              key: DEFAULT_CA_CERT
              name: cdn-certificate
        - name: DEFAULT_CERT
          valueFrom:
            secretKeyRef:
              key: DEFAULT_CERT
              name: cdn-certificate
        - name: DEFAULT_KEY
          valueFrom:
            secretKeyRef:
              key: DEFAULT_KEY
              name: cdn-certificate
        - name: POSTGRESQL_WRITER_PASSWORD
          value: ${POSTGRESQL_WRITER_PASSWORD}
        - name: POSTGRESQL_READER_PASSWORD
          value: ${POSTGRESQL_READER_PASSWORD}
        - name: POSTGRESQL_PASSWORD
          value: ${POSTGRESQL_PASSWORD}
        - name: POSTGRESQL_USER
          value: ${POSTGRESQL_USER}
        - name: CW_ENABLED
          value: ${{CW_ENABLED}}
        - name: CLOWDER_ENABLED
          value: ${CLOWDER_ENABLED}
        - name: OVAL_FEED_BASE_URL
          value: ${OVAL_FEED_BASE_URL}
        - name: OVAL_LABEL_FILTER
          value: ${OVAL_LABEL_FILTER}
        - name: REDHAT_CVEMAP_URL
          value: ${REDHAT_CVEMAP_URL}

    database:
      name: vmaas
      version: 12
    testing:
      iqePlugin: vmaas

- kind: PersistentVolumeClaim
  apiVersion: v1
  metadata:
    labels:
      app: vmaas
    name: vmaas-dump-data
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 5Gi

- apiVersion: v1
  data:
    DEFAULT_CA_CERT: ""
    DEFAULT_CERT: ""
    DEFAULT_KEY: ""
  kind: Secret
  metadata:
    name: cdn-certificate
    namespace: test
  type: Opaque

- apiVersion: v1
  data:
    GIT_TOKEN: ""
  kind: Secret
  metadata:
    name: github-vmaas-bot
    namespace: test
  type: Opaque

# proxy requests for old service for smooth transition
# vmaas-webapp:8080 to the clowderized one - vmaas-webapp-service:8000
- apiVersion: v1
  kind: Service
  metadata:
    name: vmaas-webapp
    labels:
      app: vmaas-webapp
  spec:
    ports:
    - port: 8080
      protocol: TCP
      targetPort: 8000
      name: weblegacy
    selector:
      pod: vmaas-webapp-service
# vmaas-websocket:8081 to the clowderized one - vmaas-websocket-service:9000
- apiVersion: v1
  kind: Service
  metadata:
    name: vmaas-websocket
    labels:
      app: vmaas-websocket
  spec:
    ports:
    - port: 8082
      protocol: TCP
      targetPort: 9000
      name: weblegacy
    selector:
      pod: vmaas-websocket-service
# vmaas-reposcan:8081 to the clowderized one - vmaas-reposcan-service:9000
- apiVersion: v1
  kind: Service
  metadata:
    name: vmaas-reposcan
    labels:
      app: vmaas-reposcan
  spec:
    ports:
    - port: 8081
      protocol: TCP
      targetPort: 8000
      name: weblegacy
    selector:
      pod: vmaas-reposcan-service

- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      app: vmaas
    name: webapp
  spec:
    port:
      targetPort: 8000
    tls:
      termination: edge
    to:
      kind: Service
      name: vmaas-webapp-service
      weight: 100
    wildcardPolicy: None

parameters:
- name: CPU_LIMIT_WEBSOCKET
  description: Maximum CPU limit for pods
  value: '100m'
- name: CPU_LIMIT_WEBAPP
  description: Maximum CPU limit for pods
  value: '1000m'
- name: CPU_LIMIT_REPOSCAN
  description: Maximum CPU limit for pods
  value: '1000m'
- name: MEMORY_LIMIT
  description: Maximum memory limit for pod
  value: '2Gi'
- name: REPLICAS_WEBAPP
  description: Number of pods for webapp
  # value: "{{ 8 if env == 'prod' else 1 }}"
  value: '1'
- name: REPLICAS_REPOSCAN
  description: Number of pods for reposcan
  value: '1'
- name: REPLICAS_WEBSOCKET
  description: Number of pods for webapp
  value: '1'
- name: IMAGE_TAG
  description: Version of VMaaS
  value: latest
- description: Image name
  name: IMAGE
  value: quay.io/cloudservices/vmaas-app
- description: Determines Clowder deployment
  name: CLOWDER_ENABLED
  value: "True"
- description: ClowdEnv Name
  name: ENV_NAME
  # value: insights-ephemeral
  required: false
- name: CW_ENABLED
  description: CloudWatch enabled
  value: 'FALSE'
- name: OVAL_FEED_BASE_URL
  description: OVAL feed url
  value: "https://www.redhat.com/security/data/oval/v2/"
- name: OVAL_LABEL_FILTER
  description: Comma-separated keywords to filter out
  value: RHEL5,rhel-7-alt
- name: LOGGING_LEVEL_APP
  description: Logging level in app code
  value: INFO
- name: REPOSCAN_LOGGING_LEVEL_LIBS
  description: Logging level in libs code
  value: WARNING
- name: WEBAPP_LOGGING_LEVEL_LIBS
  description: Logging level in libs code
  value: INFO
- name: LOGGING_TYPE
  description: Type of logging in webapp
  value: OPENSHIFT
- name: MAX_VMAAS_SERVERS
  description: Maximum servers count of webapp
  value: '1'
- name: GZIP_RESPONSE_ENABLE
  description: Sets GZIP compression in responses
  value: "on"
- name: GZIP_COMPRESS_LEVEL
  description: Level of GZIP compression in responses
  value: "5"
- name: BATCH_MAX_SIZE
  description: Max size of batch in reposcan
  value: '500' 
- name: BATCH_MAX_FILESIZE
  description: Max filesize of batch in reposcan
  value: '5_000_000_000'
- name: CHUNK_SIZE
  description: File unpacker chunk size in reposcan
  value: '1048576'
- name: PKGTREE_INDENT
  description: Indent of pkgtree
  value: '0'
- name: PKGTREE_KEEP_COPIES
  description: Number of pkgtree copies kept
  value: '2'
- name: REPOSCAN_SYNC_INTERVAL_MINUTES
  description: Reposcan periodic sync interval
  value: '360'
- name: REPOLIST_GIT
  description: Location of VMaaS assets git
  value: 'https://github.com/RedHatInsights/vmaas-assets.git'
- name: REPOLIST_GIT_PATH
  description: Path/comma separated paths, denoting repolist files in the git repo
  value: "repolist.json"
- name: GIT_COMMITTER_NAME
  description: Commiter name in assets repo
  value: 'vmaas'
- name: GIT_COMMITTER_EMAIL
  description: Commiter email in assets repo
  value: 'vmaas@localhost'
- name: RETRY_COUNT
  description: Retry count of downloader
  value: '3'
- name: THREADS
  description: Count of downloader threads
  value: '8'
- name: YEAR_SINCE
  description: Year since
  value: '2002'
- name: KEEP_COPIES
  description: Number of cache copies kept
  value: '3'
- name: POSTGRESQL_WRITER_PASSWORD
  description: Database writer account password
  value: vmaas_writer_pwd
- name: POSTGRESQL_READER_PASSWORD
  description: Database reader account password
  value: vmaas_reader_pwd
- name: POSTGRESQL_USER
  description: Database user account name
  value: vmaas_writer
- name: POSTGRESQL_PASSWORD
  description: Database user password
  value: vmaas_writer_pwd
- name: REDHAT_CVEMAP_URL
  value: https://www.redhat.com/security/data/metrics/cvemap.xml
