name: Safety

on:
  push:
    branches:
      - "master"
      - "stable"
  pull_request:
    branches:
      - "master"
      - "stable"

jobs:
  safety:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12]
        poetry-version: [2.0]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Poetry
        run: pip install poetry~=2.0 poetry-plugin-export
      - name: Set up Safety
        run: pip install safety
      - name: Export requirements.txt
        run: poetry export --with dev -f requirements.txt --output requirements.txt
      - name: Run safety
        run: safety check -r requirements.txt -i 65213 -i 70612
